ul {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,

button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 auto;
}

/*Общий класс на header и main content*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*Шапка header*/
.container-mobile-header {
  display: none;
}

.header-block {
  width: 100%;
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding-top: 26px;
  padding-bottom: 130px;
}

.header-block::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.burger-button {
  display: none;
}

.logo {
  width: 170px;
  position: relative;
  z-index: 2;
  padding-left: 10%;
}

.header-wrapper-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  gap: 35px;
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-right: 5px;
}

.navigation-list-link:hover,
.article-list:hover {
  text-decoration: underline;
}

.main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
}

.main-title {
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 45px;
  line-height: 1.6;
  position: relative;
  z-index: 2;
}

/*Верхний блок с трендами*/
.aside-top-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 60px;
  padding-bottom: 25px;
}

.aside-top-container {
  display: flex;
  gap: 5px;
}

.aside-top-article {
  width: calc(25% - (5px * 3 / 4));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-image: url("../images/trend1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  flex-shrink: 0;
}

.aside-top-article::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.aside-top-article-wrapper {
  position: relative;
  z-index: 2;
  color: #fff;
  border: 2px solid #b59f5b;
  padding: 33px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 33%;
}

.first {
  background-image: url("../images/trend1.jpg");
}

.second {
  background-image: url("../images/trend2.jpg");
}

.third {
  background-image: url("../images/trend3.jpg");
}

.fourth {
  background-image: url("../images/trend4.jpg");
}

/*Основной блок со статьями и боковой колонкой*/
.main-content {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 127px;
}

.aside-content {
  width: 270px;
  flex-shrink: 0;
}

.article {
  display: flex;
  max-width: 770px;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 60px;
  /*padding-left: 5px;*/
  align-items: flex-start;
}

.article-content {
  margin-left: 30px;
}

.article:last-child {
  margin-bottom: 0;
}

.article-img {
  max-width: 100%;
}

.article-title {
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}

.article-list {
  display: flex;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  gap: 20px;
}

.article-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.article-date {
  color: #ababab;
}

.article-author {
  font-style: normal;
  font-weight: 700;
}

.article-text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
}

.news-main-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 35px;
}

.news-main-title::after,
.aside-top-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}

.news-block {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.news-img {
  max-width: 70px;
  max-height: 70px;
}

.news-date {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #ababab;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.news-title {
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin: 0 auto;
}

.article-title:hover,
.news-title:hover,
.topic-wrap-link:hover {
  color: #b59f5b;
}

.news-content {
  margin-left: 20px;
  margin-top: -10px;
}


/*Форма поиска и кнопка лупа*/
.search-form {
  background-color: #f4f7f6;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.search-form-flex {
  display: flex;
  width: 100%;
  position: relative;
}

.search-input {
  position: relative;
  width: 100%;
  height: 47px;
  border: none;
  background-color: #f4f7f6;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
}

.search-button {
  width: 47px;
  height: 47px;
  border: none;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button:hover,
.email-button:hover {
  background-color: #323232;
}

.search-input:focus,
.email-button:focus,
.email-input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}


/*Поле для адреса и кнопка подписаться*/
.email-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.email-input {
  width: 100%;
  height: 47px;
  border: none;
  background-color: #f4f7f6;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding-left: 20px;
  box-sizing: border-box;
}

.email-button {
  width: 100%;
  height: 47px;
  border: none;
  background-color: #b59f5b;
  margin: 0;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.email-title {
  margin-bottom: 0;
}


/*ТЕГИ*/
.tags-aside-block {
  padding-top: 10px;
}

.tags-title {
  margin-top: 10px;
}

.tags-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -5px;
}

.tags-wrap-link {
  display: block;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid #ededed;
  padding: 3px 13px;
}

.tags-wrap-link:hover {
  border: 3px solid #b59f5b;
}


/*ТЕМЫ*/
.topic-title {
  margin-top: 53px;
}

.topic-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.topic-wrap-link {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.topic-item {
  display: flex;
  position: relative;
  border-bottom: 2px solid #e1d9bd;
  padding-bottom: 10px;
}

.topic-wrap-link-sup {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  position: relative;
  top: -5px;
  padding-left: 3px;
}


/*Блок Наши Изделия*/
.aside-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-bottom-container {
  display: flex;
  gap: 20px;
}

.shop-article {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 15px 50px;
}

.img-border {
  padding: 0 10px;
}

.shop-title {
  margin-top: 15px;
  margin-bottom: 0;
}

.shop-price-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.aside-bottom-title {
  padding-bottom: 10px;
}

.shop-link {
  color: #b59f5b;
}

.price-items {
  font-weight: 700;
}

.old-price {
  font-size: 0.7em;
  text-decoration: line-through;
}

.shop-buttom {
  width: calc(100% / 2 - 15px);
}

.border-content {
  border: 2px solid #b59f5b;
  padding: 30px 25px;
  margin-top: -35px;
}


/*Footer*/
.footer-soclink {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
  padding: 15px 0;
  margin: 20px auto 20px;
  gap: 30px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 20px;
  margin: 40px 0 30px;
}

.copyright {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}

/*Popup-окно*/
/*.visually-hidden {
  display: none;
}*/

.popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.popup-container {
  width: 325px;
  height: 605px;
  position: relative;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 35px;
}

.popup-close {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-x.svg");
  position: absolute;
  right: 0px;
  top: -25px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.select-items {
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.radio {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.radio-items::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-items:checked+.radio-items-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-circle.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-items,
.radio-title,
.radio-items-title {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 20px;
}

.radio-items-title {
  display: inline-block;
  margin-left: 10px;
}

.textarea-text {
  padding-top: 10px;
  min-width: 300px;
  max-width: 320px;
  min-height: 130px;
  max-height: 300px;
}

/*Tablet - версия планшет*/
@media (min-width: 641px) and (max-width: 1199px) {
  .container {
    padding: 0;
    max-width: 968px;
    width: 100%;
  }

  /*Шапка header-планшет*/
  .header-block {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding-bottom: 55px;
  }

  .logo {
    width: 160px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .main-title-container {
    margin: 65px auto 55px;
  }

  .main-title {
    font-size: 40px;
    line-height: 1.5;
    margin-top: 15px;
    padding-left: 25px;
  }

  .navigation-list {
    display: none;
  }

  .menu-burger {
    margin-right: 30px;
    margin-top: 20px;
  }

  .burger-button {
    width: 25px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
  }

  .aside-top-title {
    font-size: 19px;
    margin-top: 45px;
    margin-bottom: 12px;
    padding-bottom: 0;
  }

  .aside-top-container {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 2px;
  }

  .aside-top-article {
    width: calc(50% - 2px);
    height: 250px;
  }

  .main-content {
    margin-left: 5px;
    margin-top: 30px;
    gap: 10px;
  }

  .article-content {
    margin-left: 0;
    flex-shrink: 0;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .article {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 65px;
    margin-left: 27px;
  }

  .article-title {
    font-size: 17px;
    margin-top: 5px;
  }

  .article-meta {
    margin-top: 31px;
    margin-bottom: 15px;
  }

  .article-text {
    margin-bottom: 5px;
    margin-top: 27px;
  }

  .second-text {
    margin-top: 13px;
  }

  .aside-content {
    margin-right: 40px;
  }

  .topic-title {
    margin-bottom: 30px;
  }

  .aside-bottom-title {
    margin-top: 60px;
  }

  .aside-bottom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 10px;
  }

  .shop-article {
    width: calc(50% - 34px);
    margin: 0 0 35px 40px;
    align-items: flex-start;
  }

  .shop-article:nth-child(2n) {
    margin-left: 5px;
  }

  .img-border {
    padding-left: 15px;
    padding-right: 15px;
  }

  .border-content {
    width: 70%;
    padding: 45px 60px 0 20px;
  }

  .article-text-bottom {
    margin-top: 8px;
  }

  .shop-price-container {
    align-items: flex-start;
    margin-bottom: 25px;
  }

  .shop-buttom {
    width: calc(100% / 2 - 15px);
    margin: 0;
  }

  .footer-soclink {
    margin-top: 0;
    padding: 35px 0;
  }

}

/*Mobile - версия телефон*/
@media (max-width: 640px) {
  .container {
    padding: 0;
    width: 100vw;
  }

  /*Шапка header-планшет*/
  .header-block {
    background-image: url("../images/banner-mobile.jpg");
    padding-bottom: 155px;
    width: 100%;
    height: 100%;
  }

  .header-wrapper-flex {
    position: relative;
  }

  .navigation-list {
    display: none;
  }

  .menu-burger {
    margin-right: 20px;
    margin-top: 10px;
  }

  .burger-button {
    width: 25px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-line {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
  }

  .logo {
    width: 270px;
    position: absolute;
    left: 2%;
    top: 200px;
  }

  .main-title-container {
    margin: 210px auto 35px;
    padding-top: 50px;
  }

  .main-title {
    font-size: 26px;
    padding: 0 35px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .aside-top-container {
    display: flex;
    flex-direction: column;
  }

  .aside-top-article {
    width: 100%;
    max-height: 230px;
  }

  .aside-top-title {
    font-size: 16px;
    margin-top: 37px;
  }

  .aside-top-article-wrapper {
    margin-top: 25%;
    padding-left: 10px;
    margin-left: 15px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-container-article {
    margin: 0 15px;
  }

  .article {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 58px;
  }

  .article:first-child {
    margin-bottom: 40px;
  }

  .article:nth-child(4) {
    margin-bottom: 35px;
  }

  .article-content {
    margin-left: 0;
  }

  .article-title-mobile {
    font-size: 15.5px;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .article-img {
    margin-bottom: 10px;
  }

  .article-meta {
    margin-top: 0;
  }

  .article-text {
    margin-top: 15px;
  }

  .aside-content {
    padding: 0 15px;
    margin-top: 35px;
    width: 320px;
  }

  .article-meta {
    margin-bottom: 0;
  }

  .news-main-title {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .search-form {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  .email-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tags-aside-block {
    padding-top: 0;
  }

  .topic-title {
    margin-top: 10px;
  }

  .aside-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  .aside-bottom-title {
    margin-top: 44px;
  }

  .shop-article {
    width: 100%;
    margin: 0;
  }

  .article-text-bottom {
    margin-bottom: 15px;
  }

  .border-content {
    width: 82%;
    padding: 30px 20px;
    padding-bottom: 0;
  }

  .shop-price-container {
    margin-bottom: 25px;
  }

  .footer-soclink {
    margin-top: 60px;
  }

}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .aside-top-article {
    width: calc(50% - 2px);
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .aside-top-article {
    width: calc(25% - (5px * 3 / 4));
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .aside-top-article {
    width: 100%;
    max-height: 230px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .aside-top-article {
    width: calc(50% - 2px);
  }

}